*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   list-style: none;
   font-family: 'Roboto', sans-serif ;
}
.navbar{
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 10vh;
   background-color: #C0C0C0;
}
.menu ul{
    display: flex;
    text-align: center;
}
.menu ul li a{
     text-decoration: none;
     color: #000;
     padding: 16px 12px;
     letter-spacing: 2px;
     font-size: 18px;
     font-weight: bold;
}
.menu ul li a:hover{
    background-color: #ffff;
    color: #000000;
    border-spacing: 100px;
    transition: 0.5s
  }
.signup a{
      text-decoration: none;
      color: #008080;
      font-size: 18px;
      font-weight: bold;
      border-radius: 12px;
      padding: 12px 10px;
      border: 2px solid #000000;
}
.signup a:hover{
   background-color: #000000;
   transition: 0.6s;
}
.body{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(bern.JPG);
  background-position: center;
  background-size: cover;
}
.heading{
   width: 30%;
   text-align: center;
   color: #fff;
   font-weight: bold;
}
.heading h1{
     font-size: 40px;
}
.heading a{
     text-decoration: none;
     color: #000;
     font-size: 25px;
     font-weight: bold;
     border-radius: 45px;
     padding: 14px 15px;
     background-color: #ffff;
}
.heading a:hover{
    letter-spacing: 3px;
    transition: 0.6s;
}
.tours{
   width: 70%;
   display: flex;
   justify-content: space-around;
}
.places{
  display: inline;
  text-align: center;
  border-radius: 12px;
}
.places h2{
  color: black;
  font-size: 35px;
  letter-spacing: 2px;
  border-radius: 1px;
  padding: 30px 3px;
  background-color: #808080;
}
.places a{
   text-decoration: none;
   color: Teal;
   font-weight: bold;
   font-size: 18px;
   border-radius: 12px;
   padding: 12px 3px;
   background-color: #fff;
}
.places a:hover{
   background-color: #000;
   letter-spacing: 3px;
}
footer{
  position: absolute;
  bottom: 0;
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 900px;
  margin: 9px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}
.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .3;
  font-weight: 200;
}
